<h2>By Country</h2>
<hr>

<div class="row">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="searchByName()">
      <input type="text" name="searchTerm" id="searchTerm" class="form-control"
        placeholder="Search country..." [(ngModel)]="searchTerm">
    </form>
  </div>
</div>

<hr>

<div *ngIf="error" class="alert alert-danger">There's no results with the term {{searchTerm}}</div>

<div *ngIf="countries.length > 0" class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
